<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-contact">
      <span class="post-meta">📧 kimlog0415@gmail.com</span>
      <span class="post-meta">｜</span>
      <span class="post-meta">▶️ <a href="https://www.youtube.com/@kimlog1106">YouTube</a></span>
    </div>
    <div class="footer-bmc">
      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kimlog0415" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
    </div>
    <div class="footer-copy post-meta">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }}
    </div>
  </div>
</footer>
