.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header div:first-child {
  display: flex;
  flex-direction: column;
}

.header div:nth-child(2) {
  display: flex;
}

.header div:last-child {
  display: flex;
}
